@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Sarabun');

* {
    font-family: 'Roboto Mono';
}

@media only screen and (max-width: 900px) and (max-height: 900px){
    .phone-hide {
        display: none;
    }
}

#reshero{
    display: none;
}

.thai {
    font-family: 'Sarabun';
}

#title {
    font-size: 7vh
}