@import url('https://fonts.googleapis.com/css?family=Sarabun');

body {
    font-family: 'sarabun';
    font-weight: 500;
}

h1 {
    font-size: 30px;
}

@media only screen and (max-width: 900px) and (max-height: 900px) {
    .phone-hide {
        display: none;
    }
}